body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    overflow: hidden;
}

nav {
    background-color: #050609;
    box-shadow: #fdc500 0px 1px 5px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
}

nav li {
    justify-content: center;
    display: flex;
    flex-basis: 25%;
    flex-grow: 1;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
}

nav li a:hover {
    color: #fdc500;
}

nav .nav-ul a.active {
    color: red;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about {}

#skills {}

#projects {}

#contact {}